*
{
    padding: 0;
    margin: 0;
}
header
{
    background-color: #0E212B;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

body
{
    background: linear-gradient(180deg, #23546C, #7d8c94 );
}

h1
{
    text-align: center;
    font-size: 50px;
    color: ;
}

p
{
    font-size: 23px;
    text-align: center;
    color: #0E212B;
}

.tests
{
    background: linear-gradient(0deg, #490d46,  #835480 );
    padding: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.account
{
    padding-top: 2%;
    margin: auto;
    max-width: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


